<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="" />
  <link rel="canonical" href="https://drycc.cc/docs/workflow/understanding-workflow/components/">

  <meta name="msvalidate.01" content="079E754911917142D42AB2A3694F9267" />
  <meta name="msvalidate.01" content="08598E7D936D9217891AE6C1665A645D" />

  <title>Components - Drycc Workflow Documentation</title>

  <script type="text/javascript">var documentationBaseURL = "../.."</script>
  <link rel="icon" href="../../static/img/favicon/favicon.png" type="image/png">
  <link rel="stylesheet" href="../../static/css/styles.css" type="text/css">
</head>

<body>
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]--><div class="navbar top-bar" data-purpose="navbar">
  <div class="row fullwidth">
    <div class="small-6 large-2 columns">
      <h1><a href="/" class="logo"><img src="../../static/img/svg/logo.svg" width="128px" height="41px" alt="Drycc"></a></h1>
    </div>
    <div class="small-4 large-9 columns">

      <nav class="nav navbar-nav navbar-right text-center">
        <div class="show-for-large-up">
          <ul class="inline-list">
            <li>
              <a class="dropdown" data-dropdown="drop2" aria-controls="drop1" aria-expanded="false">Projects <em><i class="fa fa-caret-down"></i></em></a>
            </li>
            <li>
              <a href="https://join.slack.com/t/drycc/shared_invite/enQtNTUwNjc3MjE0OTMwLTdhODdlMTk0YWQ1ZjdiYmZlZjZjNDU2ZWE0OTBlZTA5NjMxNjFkNjQyNDMzYzVkNjJjYTU4ZjZkZWQ0MzYxNzE" id="header-slack" class="item" title="Slack">Slack</a>
            </li>
            <li>
              <a href="https://drycc.github.io/blog/" id="header-blog" class="item" title="Blog">Blog</a>
            </li>
          </ul>
        </div>

        <a class="right-off-canvas-toggle fa fa-bars show-for-medium-down" href="#" data-proofer-ignore></a>
      </nav>

    </div>
  </div>
</div>

<ul id="drop2" class="f-dropdown row hide-for-medium-down" data-dropdown-content aria-hidden="true">
  <div class="small-12 medium-offset-3 medium-9 columns">
    <div class="row">
    <li class="small-6 medium-4 columns"><a href="https://github.com/drycc/workflow" title="Workflow">
      <img src="../../static/img/svg/workflow-logo.svg" alt="Workflow">
      <h3>Workflow</h3>
      <p>The Kubernetes platform.</p>
    </a></li>
    <li class="small-6 medium-4 columns"><a href="//helm.sh" title="Helm">
      <img src="../../static/img/svg/helm-logo.svg" alt="Helm">
      <h3>Helm</h3>
      <p>The Package manager.</p>
    </a></li>
    <li class="small-6 medium-4 end columns"><a href="https://svc-cat.io" title="Service Catalog">
      <img src="../../static/img/svg/svc-cat-logo.svg" alt="Service Catalog">
      <h3>Service Catalog</h3>
      <p>The Open Service Broker.</p>
    </a></li>
    <a class="fa fa-times right"></a>
  </div>
</ul><aside class="right-off-canvas-menu" data-offcanvas>
  <ul>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Home</a>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Quick Start</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="Overview" href="quickstart/">Overview</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Install CLI Tools" href="quickstart/install-cli-tools/">Install CLI Tools</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="AWS" href="">AWS</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Azure" href="">Azure</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="GKE" href="">GKE</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Minikube" href="">Minikube</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Deploy Your First App" href="quickstart/deploy-an-app/">Deploy Your First App</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1 current">
      <a class="reference internal current" state="open" href="">Understanding Workflow</a>
      
        <ul  class="current">
        
          <li class="toctree-l2">
          <a class="reference internal current" id="Concepts" href="understanding-workflow/concepts/">Concepts</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal current" id="Architecture" href="understanding-workflow/architecture/">Architecture</a>
          </li>
        
          <li class="toctree-l2 current">
          <a class="reference internal current" id="Components" href="understanding-workflow/components/">Components</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Installing Workflow</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="System Requirements" href="installing-workflow/system-requirements/">System Requirements</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Installing Ingress" href="installing-workflow/ingress/">Installing Ingress</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Installing Workflow" href="installing-workflow/">Installing Workflow</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Configuring Object Storage" href="installing-workflow/configuring-object-storage/">Configuring Object Storage</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Configuring Postgres" href="installing-workflow/configuring-postgres/">Configuring Postgres</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Configuring the Registry" href="installing-workflow/configuring-registry/">Configuring the Registry</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Chart Provenance" href="installing-workflow/chart-provenance/">Chart Provenance</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Users</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="Command Line Interface" href="users/cli/">Command Line Interface</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Users and Registration" href="users/registration/">Users and Registration</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="SSH Keys" href="users/ssh-keys/">SSH Keys</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Applications</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="Deploying Apps" href="applications/deploying-apps/">Deploying Apps</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Buildpacks" href="applications/using-buildpacks/">Buildpacks</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Dockerfiles" href="applications/using-dockerfiles/">Dockerfiles</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Docker Images" href="applications/using-docker-images/">Docker Images</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Managing App Processes" href="applications/managing-app-processes/">Managing App Processes</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Managing App Configuration" href="applications/managing-app-configuration/">Managing App Configuration</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Managing App Lifecycle" href="applications/managing-app-lifecycle/">Managing App Lifecycle</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Managing App Volumes" href="applications/managing-app-volumes/">Managing App Volumes</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Managing App Resources" href="applications/managing-app-resources/">Managing App Resources</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Inter-app Communication" href="applications/inter-app-communication/">Inter-app Communication</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Resource Limits" href="applications/managing-resource-limits/">Resource Limits</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Domains and Routing" href="applications/domains-and-routing/">Domains and Routing</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="SSL Certificates" href="applications/ssl-certificates/">SSL Certificates</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Managing Workflow</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="Tuning Component Settings" href="managing-workflow/tuning-component-settings/">Tuning Component Settings</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Configuring DNS" href="managing-workflow/configuring-dns/">Configuring DNS</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Deploy Hooks" href="managing-workflow/deploy-hooks/">Deploy Hooks</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Platform Logging" href="managing-workflow/platform-logging/">Platform Logging</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Platform Monitoring" href="managing-workflow/platform-monitoring/">Platform Monitoring</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Production Deployments" href="managing-workflow/production-deployments/">Production Deployments</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Upgrading Workflow" href="managing-workflow/upgrading-workflow/">Upgrading Workflow</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Extending Workflow" href="managing-workflow/extending-workflow/">Extending Workflow</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Troubleshooting</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="Troubleshooting Workflow" href="troubleshooting/">Troubleshooting Workflow</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Troubleshooting using Kubectl" href="troubleshooting/kubectl/">Troubleshooting using Kubectl</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Troubleshooting Applications" href="troubleshooting/applications/">Troubleshooting Applications</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Roadmap</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="Planning Process" href="roadmap/planning-process/">Planning Process</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Roadmap" href="roadmap/roadmap/">Roadmap</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Releases" href="roadmap/releases/">Releases</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Contributing</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="Overview" href="contributing/overview/">Overview</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Design Documents" href="contributing/design-documents/">Design Documents</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Development Environment" href="contributing/development-environment/">Development Environment</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Testing" href="contributing/testing/">Testing</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Submitting a Pull Request" href="contributing/submitting-a-pull-request/">Submitting a Pull Request</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Community" href="contributing/community/">Community</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Triaging Issues" href="contributing/triaging-issues/">Triaging Issues</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Conduct" href="contributing/conduct/">Conduct</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Maintainers" href="contributing/maintainers/">Maintainers</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Reference Guide</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="Creating a Self-Signed SSL Certificate" href="reference-guide/creating-a-self-signed-ssl-certificate/">Creating a Self-Signed SSL Certificate</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Terms" href="reference-guide/terms/">Terms</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Controller API v2.0" href="reference-guide/controller-api/v2.0/">Controller API v2.0</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Controller API v2.1" href="reference-guide/controller-api/v2.1/">Controller API v2.1</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Controller API v2.2" href="reference-guide/controller-api/v2.2/">Controller API v2.2</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="Controller API v2.3" href="reference-guide/controller-api/v2.3/">Controller API v2.3</a>
          </li>
        
        </ul>
      
    </li>
    
    <li class="toctree-l1">
      <a class="reference internal" href="">Changelogs</a>
      
        <ul >
        
          <li class="toctree-l2">
          <a class="reference internal" id="v1.4.0" href="changelogs/v1.4.0/">v1.4.0</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="v1.3.0" href="changelogs/v1.3.0/">v1.3.0</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="v1.2.0" href="changelogs/v1.2.0/">v1.2.0</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="v1.1.0" href="changelogs/v1.1.0/">v1.1.0</a>
          </li>
        
          <li class="toctree-l2">
          <a class="reference internal" id="v1.0.1" href="changelogs/v1.0.1/">v1.0.1</a>
          </li>
        
        </ul>
      
    </li>
    
  </ul>
</aside>

      <!-- banner at the top of the page for temporary announcements-->
      <!-- <div data-alert class="alert-box alert banner text-center hide-for-small">
      </div> -->

      <div class="content-wrap">

        <div class="content-inner">
          <div class="container">
            <div class="row">
              <div class="small-12">
                <h1 id="components">Components<a class="headerlink" href="#components" title="Permanent link">&para;</a></h1>
<p>Workflow is comprised of a number of small, independent services that combine
to create a distributed PaaS. All Workflow components are deployed as services
(and associated controllers) in your Kubernetes cluster. If you are interested
we have a more detailed exploration of the <a href="../architecture/">Workflow
architecture</a>.</p>
<p>All of the componentry for Workflow is built with composability in mind. If you
need to customize one of the components for your specific deployment or need
the functionality in your own project we invite you to give it a shot!</p>
<h2 id="controller">Controller<a class="headerlink" href="#controller" title="Permanent link">&para;</a></h2>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/controller">drycc/controller</a></p>
<p>The controller component is an HTTP API server which serves as the endpoint for
the <code>drycc</code> CLI. The controller provides all of the platform functionality as
well as interfacing with your Kubernetes cluster. The controller persists all
of its data to the database component.</p>
<h2 id="database">Database<a class="headerlink" href="#database" title="Permanent link">&para;</a></h2>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/postgres">drycc/postgres</a></p>
<p>The database component is a managed instance of <a href="http://www.postgresql.org/">PostgreSQL</a> which holds a
majority of the platforms state. Backups and WAL files are pushed to object
storage via <a href="https://github.com/wal-e/wal-e">WAL-E</a>. When the database is restarted, backups are fetched and
replayed from object storage so no data is lost.</p>
<h2 id="builder">Builder<a class="headerlink" href="#builder" title="Permanent link">&para;</a></h2>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/builder">drycc/builder</a></p>
<p>The builder component is responsible for accepting code pushes via <a href="http://git-scm.com/">Git</a> and
managing the build process of your <a href="../../reference-guide/terms/#application">Application</a>. The builder process is:</p>
<ol>
<li>Receives incoming <code>git push</code> requests over SSH</li>
<li>Authenticates the user via SSH key fingerprint</li>
<li>Authorizes the user's access to push code to the Application</li>
<li>Starts the Application Build phase (see below)</li>
<li>Triggers a new <a href="../../reference-guide/terms/#release">Release</a> via the Controller</li>
</ol>
<p>Builder currently supports both buildpack and Dockerfile based builds.</p>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/slugbuilder">drycc/slugbuilder</a></p>
<p>For Buildpack-based deploys, the builder component will launch a one-shot Pod
in the <code>drycc</code> namespace. This pod runs <code>slugbuilder</code> component which handles
default and custom buildpacks (specified by <code>.buildpacks</code>). The "compiled"
application results in a slug, consisting of your application code and all of
its dependencies as determined by the buildpack. The slug is pushed to the
cluster-configured object storage for later execution. For more information
about buildpacks see <a href="../../applications/using-buildpacks/">using buildpacks</a>.</p>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/imagebuilder">drycc/imagebuilder</a></p>
<p>For Applications which contain a <code>Dockerfile</code> in the root of the repository,
<code>builder</code> will instead launch the <code>imagebuilder</code> to package your application.
Instead of generating a slug, <code>imagebuilder</code> generates a Docker image (using
the underlying Docker engine). The completed image is pushed to the managed
Docker registry on cluster. For more information see <a href="../../applications/using-dockerfiles/">using Dockerfiles</a>.</p>
<h2 id="slugrunner">Slugrunner<a class="headerlink" href="#slugrunner" title="Permanent link">&para;</a></h2>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/slugrunner">drycc/slugrunner</a></p>
<p>Slugrunner is the component responsible for executing buildpack-based
Applications. Slugrunner receives slug information from the controller and
downloads the application slug just before launching your application
processes.</p>
<h2 id="object-storage">Object Storage<a class="headerlink" href="#object-storage" title="Permanent link">&para;</a></h2>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/minio">drycc/minio</a></p>
<p>All of the Workflow components that need to persist data will ship them to the
object storage that was configured for the cluster.For example, database ships
its WAL files, registry stores Docker images, and slugbuilder stores slugs.</p>
<p>Workflow supports either on or off-cluster storage. For production deployments
we highly recommend that you configure <a href="../../installing-workflow/configuring-object-storage/">off-cluster object storage</a>.</p>
<p>To facilitate experimentation, development and test environments, the default charts for
Workflow include on-cluster object storage via <a href="https://github.com/minio/minio">minio</a>.</p>
<p>If you also feel comfortable using Kubernetes persistent volumes you may
configure minio to use persistent storage available in your environment.</p>
<h2 id="registry">Registry<a class="headerlink" href="#registry" title="Permanent link">&para;</a></h2>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/registry">drycc/registry</a></p>
<p>The registry component is a managed docker registry which holds application
images generated from the builder component. Registry persists the Docker image
images to either local storage (in development mode) or to object storage
configured for the cluster.</p>
<h2 id="logger-fluentd-logger">Logger: fluentd, logger<a class="headerlink" href="#logger-fluentd-logger" title="Permanent link">&para;</a></h2>
<p>The logging subsystem consists of two components. Fluentd handles log shipping
and logger maintains a ring-buffer of application logs.</p>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/fluentd">drycc/fluentd</a></p>
<p>Fluentd is deployed to your Kubernetes cluster via Daemon Sets. Fluentd
subscribes to all container logs, decorates the output with Kubernetes metadata
and can be configured to drain logs to multiple destinations. By default,
fluentd ships logs to the logger component, which powers <code>drycc logs</code>.</p>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/logger">drycc/logger</a></p>
<p>The <code>logger</code> component receives log streams from <code>fluentd</code>, collating by
Application name. Logger does not persist logs to disk, instead maintaining an
in-memory ring buffer. For more information on logger see the <a href="https://github.com/drycc/logger">project
documentation</a>.</p>
<h2 id="monitor">Monitor<a class="headerlink" href="#monitor" title="Permanent link">&para;</a></h2>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/monitor">drycc/monitor</a></p>
<p>The monitoring subsystem consists of two components: Telegraf and Grafana.</p>
<p>Telegraf is the is the metrics collection agent that runs using the daemon set API. It runs on
every worker node in the cluster, fetches information about the pods currently running and ships it
to InfluxDB.</p>
<p>Grafana is a standalone graphing application. It natively supports InfluxDB as a datasource and
provides a robust engine for creating dashboards on top of timeseries data. Workflow provides a few
dashboards out of the box for monitoring Drycc Workflow and Kubernetes. The dashboards can be used
as a starting point for creating more custom dashboards to suit a user's needs.</p>
<h2 id="influxdb">InfluxDB<a class="headerlink" href="#influxdb" title="Permanent link">&para;</a></h2>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/influxdb">drycc/influxdb</a></p>
<p>InfluxDB is a database that stores the metrics collected by Telegraf. Out of the box, it does not
persist to disk, but you can set it up to back it with a persisitent volume or swap this out with
a more robust InfluxDB setup in a production setting.</p>
<h2 id="rabbitmq">Rabbitmq<a class="headerlink" href="#rabbitmq" title="Permanent link">&para;</a></h2>
<p><strong>Project Location:</strong> <a href="https://github.com/drycc/rabbitmq">drycc/rabbitmq</a></p>
<p>RabbitMQ is the most widely deployed open source message broker.
Controller use celery with rabbitMQ to execute the asynchronous task.</p>
<h2 id="see-also">See Also<a class="headerlink" href="#see-also" title="Permanent link">&para;</a></h2>
<ul>
<li><a href="../concepts/">Workflow Concepts</a></li>
<li><a href="../architecture/">Workflow Architecture</a></li>
</ul>
              </div>
            </div>
          </div>
        </div><nav class="sidebar hide-for-medium-down">
  <div class="sidebar-inner">
    <h1><a href="/" class="logo"><img src="../../static/img/svg/logo.svg" width="128px" height="41px" alt="Drycc"></a></h1>

    <ul class="current sidebar-main">
    <li class="toctree-l1">
        <a class="reference internal" href="../..">Home</a>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Quick Start</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="Overview" href="../../quickstart/">Overview</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Install CLI Tools" href="../../quickstart/install-cli-tools/">Install CLI Tools</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="AWS" href="../..">AWS</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Azure" href="../..">Azure</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="GKE" href="../..">GKE</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Minikube" href="../..">Minikube</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Deploy Your First App" href="../../quickstart/deploy-an-app/">Deploy Your First App</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1 current">
        <a class="reference internal current" state="open" href="../..">Understanding Workflow</a>
        
            <ul style="display: none;" class="current">
            
                <li class="toctree-l2">
                <a class="reference internal current" id="Concepts" href="../concepts/">Concepts</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal current" id="Architecture" href="../architecture/">Architecture</a>
                </li>
            
                <li class="toctree-l2 current">
                <a class="reference internal current" id="Components" href="./">Components</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Installing Workflow</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="System Requirements" href="../../installing-workflow/system-requirements/">System Requirements</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Installing Ingress" href="../../installing-workflow/ingress/">Installing Ingress</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Installing Workflow" href="../../installing-workflow/">Installing Workflow</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Configuring Object Storage" href="../../installing-workflow/configuring-object-storage/">Configuring Object Storage</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Configuring Postgres" href="../../installing-workflow/configuring-postgres/">Configuring Postgres</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Configuring the Registry" href="../../installing-workflow/configuring-registry/">Configuring the Registry</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Chart Provenance" href="../../installing-workflow/chart-provenance/">Chart Provenance</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Users</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="Command Line Interface" href="../../users/cli/">Command Line Interface</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Users and Registration" href="../../users/registration/">Users and Registration</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="SSH Keys" href="../../users/ssh-keys/">SSH Keys</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Applications</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="Deploying Apps" href="../../applications/deploying-apps/">Deploying Apps</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Buildpacks" href="../../applications/using-buildpacks/">Buildpacks</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Dockerfiles" href="../../applications/using-dockerfiles/">Dockerfiles</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Docker Images" href="../../applications/using-docker-images/">Docker Images</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Managing App Processes" href="../../applications/managing-app-processes/">Managing App Processes</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Managing App Configuration" href="../../applications/managing-app-configuration/">Managing App Configuration</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Managing App Lifecycle" href="../../applications/managing-app-lifecycle/">Managing App Lifecycle</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Managing App Volumes" href="../../applications/managing-app-volumes/">Managing App Volumes</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Managing App Resources" href="../../applications/managing-app-resources/">Managing App Resources</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Inter-app Communication" href="../../applications/inter-app-communication/">Inter-app Communication</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Resource Limits" href="../../applications/managing-resource-limits/">Resource Limits</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Domains and Routing" href="../../applications/domains-and-routing/">Domains and Routing</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="SSL Certificates" href="../../applications/ssl-certificates/">SSL Certificates</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Managing Workflow</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="Tuning Component Settings" href="../../managing-workflow/tuning-component-settings/">Tuning Component Settings</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Configuring DNS" href="../../managing-workflow/configuring-dns/">Configuring DNS</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Deploy Hooks" href="../../managing-workflow/deploy-hooks/">Deploy Hooks</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Platform Logging" href="../../managing-workflow/platform-logging/">Platform Logging</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Platform Monitoring" href="../../managing-workflow/platform-monitoring/">Platform Monitoring</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Production Deployments" href="../../managing-workflow/production-deployments/">Production Deployments</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Upgrading Workflow" href="../../managing-workflow/upgrading-workflow/">Upgrading Workflow</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Extending Workflow" href="../../managing-workflow/extending-workflow/">Extending Workflow</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Troubleshooting</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="Troubleshooting Workflow" href="../../troubleshooting/">Troubleshooting Workflow</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Troubleshooting using Kubectl" href="../../troubleshooting/kubectl/">Troubleshooting using Kubectl</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Troubleshooting Applications" href="../../troubleshooting/applications/">Troubleshooting Applications</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Roadmap</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="Planning Process" href="../../roadmap/planning-process/">Planning Process</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Roadmap" href="../../roadmap/roadmap/">Roadmap</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Releases" href="../../roadmap/releases/">Releases</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Contributing</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="Overview" href="../../contributing/overview/">Overview</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Design Documents" href="../../contributing/design-documents/">Design Documents</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Development Environment" href="../../contributing/development-environment/">Development Environment</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Testing" href="../../contributing/testing/">Testing</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Submitting a Pull Request" href="../../contributing/submitting-a-pull-request/">Submitting a Pull Request</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Community" href="../../contributing/community/">Community</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Triaging Issues" href="../../contributing/triaging-issues/">Triaging Issues</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Conduct" href="../../contributing/conduct/">Conduct</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Maintainers" href="../../contributing/maintainers/">Maintainers</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Reference Guide</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="Creating a Self-Signed SSL Certificate" href="../../reference-guide/creating-a-self-signed-ssl-certificate/">Creating a Self-Signed SSL Certificate</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Terms" href="../../reference-guide/terms/">Terms</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Controller API v2.0" href="../../reference-guide/controller-api/v2.0/">Controller API v2.0</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Controller API v2.1" href="../../reference-guide/controller-api/v2.1/">Controller API v2.1</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Controller API v2.2" href="../../reference-guide/controller-api/v2.2/">Controller API v2.2</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="Controller API v2.3" href="../../reference-guide/controller-api/v2.3/">Controller API v2.3</a>
                </li>
            
            </ul>
        
    </li>

    <li class="toctree-l1">
        <a class="reference internal" href="../..">Changelogs</a>
        
            <ul style="display: none;">
            
                <li class="toctree-l2">
                <a class="reference internal" id="v1.4.0" href="../../changelogs/v1.4.0/">v1.4.0</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="v1.3.0" href="../../changelogs/v1.3.0/">v1.3.0</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="v1.2.0" href="../../changelogs/v1.2.0/">v1.2.0</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="v1.1.0" href="../../changelogs/v1.1.0/">v1.1.0</a>
                </li>
            
                <li class="toctree-l2">
                <a class="reference internal" id="v1.0.1" href="../../changelogs/v1.0.1/">v1.0.1</a>
                </li>
            
            </ul>
        
    </li>

<div class="clearbox"></div>
      <li class="toctree-l1">
        
      </li>
    </ul>
  </div>

  <div class="sidebar-bg"></div>
</nav>
      </div>
    </div>
  </div>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <script>window.jQuery || document.write('<script src="../../static/js/jquery-1.12.4.min.js"><\/script>')</script>
  <!-- extra_javascript - defined in the root 'mkdocs.yml -->
  
    <script src="../../static/js/foundation.js" async></script>
  
    <script src="../../static/js/foundation.dropdown.js" async></script>
  
    <script src="../../static/js/foundation.offcanvas.js" async></script>
  
    <script src="../../static/js/headroom.min.js" async></script>
  
    <script src="../../static/js/adjustments.js" async></script>
  
    <script src="../../search/main.js" async></script>
  

  

</body>
</html>